.button {
    width: 100px;
    height: 100px;
    background-color: grey;
    display: grid;
    position: relative;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.active {
    background-color: green;
}