.button {
    width: 100px;
    height: 100px;
    background-color: grey;
    margin: 10px;
    display: inline-block;
}

.active {
    background-color: green;
}

#button-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
}