.button {
    width: 100px;
    height: 113px;
    background-color: grey;
    display: grid;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    position: relative;
}

/* .active {
    background-color: #ddd;
} */

.button::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
}

.button.active::after {
    background-color: rgba(0, 0, 0, 0);
}