*{
    margin: 5px;
    box-sizing: border-box;
}

body{
    height: 95vh;
    font-family: sans-serif;
    text-align: center;
    font-size: 24px;
    display: flex;
    flex-direction: column;
}

header{
    background: blueviolet;
    padding: 2em 0 2em 0;
}

.main{
    display: flex;
    flex: 1;
}

.left{
    background: blueviolet;
    padding: 3em 0 3em 0;
    flex: 1 1 100px;
}

main{
    background: blueviolet;
    padding: 3em 0 3em 0;
    flex: 5 5 150px;
}

#button-container {
    display: grid;
    grid-template-columns: repeat(6, minmax(100px, 1fr));
    gap: 10px;
}

footer{
    background: blueviolet;
    padding: 1em 0 1em 0;
}

@media (max-width: 550px){
    .main{
        flex-direction: column;
    }
    main{
        padding: 5em 0 5em 0;
    }
}

@media (max-width: 1200px) {
    #button-container {
        grid-template-columns: repeat(5, minmax(100px, 1fr));
    }
}

@media (max-width: 1000px) {
    #button-container {
        grid-template-columns: repeat(4, minmax(100px, 1fr));
    }
}

@media (max-width: 800px) {
    #button-container {
        grid-template-columns: repeat(3, minmax(100px, 1fr));
    }
}

@media (max-width: 600px) {
    #button-container {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
}

@media (max-width: 400px) {
    #button-container {
        grid-template-columns: repeat(1, minmax(100px, 1fr));
    }
}