*{
    margin: 5px;
    box-sizing: border-box;
}

body{
    height: 95dvh;
    font-family: "Noto Sans", "Noto Sans JP", sans-serif;
    text-align: center;
    font-size: 24px;
    display: flex;
    flex-direction: column;
}

header{
    background: blueviolet;
    padding: 2em 0 2em 0;
}

.main{
    display: flex;
    flex: 1;
}

.left{
    /* background: blueviolet; */
    padding: 3em 0 3em 0;
    flex: 1 1 100px;
}

main{
    /* background: blueviolet; */
    padding: 3em 0 3em 0;
    flex: 5 5 150px;
}

#button-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 15px;
}

.scrollbar{
    height: 500px;
    width: 65; 
    overflow-y: scroll;
}

#scrollbar-style-1::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

#scrollbar-style-1::-webkit-scrollbar{
    width: 12px;
}

#scrollbar-style-1::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
}

.force-overflow{
    min-height: 450px;
}

footer{
    background: blueviolet;
    padding: 1em 0 1em 0;
}

@media (max-width: 550px){
    .main{
        flex-direction: column;
    }
    main{
        padding: 5em 0 5em 0;
    }
}